# Slate - Google Calendar Sync Configuration Files


# Files Section
#
# ClientSecretFile - Name of client secret file downloaded from Google API
# LogFile - Name of the log file
[Files]
ClientSecretFile = client_secret.json
LogFile = slatesync.log

# Log Section
#
# LogLevel - INFO, WARNING or ERROR
# LogDaysArchive - Number of days of log files to keep
[Logging]
LogLevel = INFO
LogDaysArchive = 14

# Emails Section
#
# EmailFromAddress - Address from which you want error reports sent. Can be any address in your organization.
# ErrorEmailAddress - Address from which you want error reports sent to. Can contain a comma delimited list of email addresses.
# EmailEventChanges - When event details change alert user (yes/no)
[Emails]
EmailFromAddress = 
ErrorEmailAddress = 
EmailEventChanges = yes

# Calendar Syncing Section
#
# NumberOfPriorDays - The program will sync events from this many days in the past
# NumberOfFutureDays - The program will sync events to this many days in the future
# SyncInterval - Number of seconds between calendar syncs
[CalendarSyncing]
NumberOfPriorDays = 7
NumberOfFutureDays = 270
SyncInterval = 300

# Server Section
#
# SyncServer - The URL of the server running this program.
# SlateServer - The URL of your Slate instance (everything before /manage)
# SlateEventWebService - The URL of the web service endpoint that contains your events
# SlateEventWebServiceStops - The URL of the web service endpoint that contains your trip stops
[Servers]
SyncServer = http://localhost:8080/
SyncServerPort = 8080
SlateServer = 
SlateEventWebService = 
SlateEventWebServiceUsername = 
SlateEventWebServicePassword = 

# General Settings
# OpenInterviewLabel - Optional. If populated labels open interviews with specified value.
# GoogleApiBackoff - When 403 error received (too many requests) wait this many seconds before trying next request
[Settings]
OpenInterviewLabel = 
OnCampusInterviewLocation = 
GoogleApiBackoff = 10
